<head>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpjZ2NGtngZBKi2wlmzgtKioFkTbQO-qo">
  </script>
</head>
<body onload="index_maps()">
  <%= render "shared/review_tabs" %>

  <div id="map-index-container">
    <div id="map-index-reviews" data-coordinates="<%= @coordinates.to_json%>"
      data-stores="<%= @stores.to_json %>"
      data-reviews="<%= @reviews.to_json %>">
      <div id="geolocation-button">
        <%= link_to image_tag("geolocation-button.png", size: "10x10",
          alt: "Your location"), class: "geolocation-link pull-right" %>
      </div>
    </div>
  </div>
</body>

