<div id="user-profile">
  <div class="row">
    <div class="form-group">
      <div class="col-md-1 col-md-offset-1">
        <%= image_tag @user.avatar_url, class: "user-avatar" %>
      </div>

      <div class="col-md-8">
        <h2><strong><%= link_to @user.name, user_path(@user) %></strong></h2>

        <% if @user == current_user %>
          <div class="user-action">
            <%= link_to t("profile.edit"), edit_user_registration_path(@user) %>
            <% if @user.is_admin? %>
              <%= link_to t("profile.new_review"), new_admin_review_path %>
            <% end %>
          </div>
        <% else %>
          <div class="user-action">
            <%= link_to t("profile.home"), root_path %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div>
    <% unless @reviews.empty? %>
      <div id="list-index-reviews">
        <div id="review-index">
          <%= render @reviews %>
        </div>
      </div>
    <% end %>
  </div>

  <div id="marked-review">
    <h2> Marked Reviews</h2>

    <div class="marked-list">
      <%= render @marked_reviews %>
    </div>
  </div>
</div>
