<!DOCTYPE html>
<html>
<head>
  <title><%= t "title.yeu_xe" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "/assets/motorcycle.png" %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpjZ2NGtngZBKi2wlmzgtKioFkTbQO-qo&libraries=places,geometry">
  </script>
</head>
<body>
  <%= render "layouts/header" %>
  <%= yield %>
</body>
</html>
