<div id="review-build">
  <%= render "shared/error_messages", object: @review %>
  <div class="review-build">
    <div class="row">
      <div class="form-group">
        <div class="col-md-10 col-md-offset-1">
          <%= f.text_area :content , rows: 5, class: "form-control",
            placeholder: t("reviews.content"), required: true,
            autofocus: true %>

          <%= f.hidden_field :user_id, value: current_user.id %>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="form-group">
        <%= f.fields_for :store do |build_store| %>
          <div class="col-md-5 col-md-offset-1">
            <%= build_store.fields_for :coordinate do |build_coodinate| %>
              <%= render "coordinate_fields", f: build_coodinate %>
            <% end %>
          </div>

          <div class="form-group">
            <div class="col-md-5">
              <%= render "store_fields", f: build_store %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <div class="col-md-5 col-md-offset-1">
          <%= f.submit (f.object.new_record? ? "Create" : "Update"), class: "btn btn-primary pull-right" %>
        </div>
      </div>
    </div>
  </div>
</div>
