<div id="review-index">
  <div class="row border-show">
    <div class="review-user col-md-2">
      <p><%= link_to review.user.name, user_path(review.user) %></p>
      <div class="review-avatar">
        <%= link_to image_tag(review.user.avatar), user_path(review.user) %>
      </div>
    </div>

    <div class="col-md-10">
      <div class="store-name">
        <% unless review.store.nil? %>
          <%= link_to review.store_name, review_path(review) %>
        <% end %>
      </div>
    </div>

    <div class="review-content">
      <%= review.content %>
    </div>

    <div class="pull-right">
      <i>
        <%= review.store_address %>
      </i><br>
      <i>
        <%= review.store_phone_number %>
      </i>
    </div>
  </div>
</div>
