<div class="right-content">
  <h3><%= t "reviews.details" %></h3>
  <div class="row">
    <div class="form-group right-row">
      <div class="col-md-6">
        <%= t "rate.total_rater" %>
      </div>
      <div class="col-md-6">
        <b id="total_rater"><%= @total_rater %></b>
        <% if @total_rater > 1%>
          <i class="fa fa-users fa-1x" style="color: red;"></i>
        <% else %>
          <i class="fa fa-user fa-1x"></i>
        <% end %>
      </div>
    </div>

    <div class="form-group right-row">
      <div class="col-md-6">
        <%= t "reviews.total_markers" %>
      </div>
      <div class="col-md-6">
        <b><%= @review.marked_reviews.count %></b>
        <i class="fa fa-bookmark"></i>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-6">
        <%= t "reviews.created" %>
      </div>
      <div class="col-md-6">
        <% if created_mins(@review.created_at) < 60 %>
          <b><%= created_mins @review.created_at %></b>&nbsp;
          <%= t "time.minutes" %>
        <% elsif created_hours(@review.created_at) < 24 %>
          <b><%= created_hours @review.created_at %></b>&nbsp;
          <%= t "time.hours" %>
        <% elsif created_days(@review.created_at) >= 30 %>
          <b><%= created_days @review.created_at %></b>&nbsp;
          <%= t "time.days" %>
        <% elsif created_months(@review.created_at) < 12 %>
          <b><%= created_months @review.created_at %></b>&nbsp;
          <%= t "time.months" %>
        <% else %>
          <b><%= created_years @review.created_at %></b>&nbsp;
          <%= t "time.years" %>
        <% end %>&nbsp;<%= t "time.ago" %>
      </div>
    </div>
  </div>
</div>
