<%= javascript_include_tag 'ratyrate.js', "data-turbolinks-track" => false %>

<div id="review-show">
  <%= render "show_on_map" %>

  <div class="row border-show">
    <div class="form-group pull-right">
      <div class="mark-review col-md-1" id="mark-review-<%= @review.id %>">
        <% if current_user %>
          <% unless @review.user == current_user %>
            <% if current_user.markings? @review %>
              <%= render partial: "unmark", locals: {review: @review} %>
            <% else %>
              <%= render partial: "mark", locals: {review: @review} %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="form-group group-show-content">
      <div class="review-user col-md-1">
        <div class="review-avatar">
          <%= image_tag @user.avatar %>
        </div>
      </div>

      <div class="col-md-11">
        <div class="store-name">
          <b><%= link_to @user.name, user_path(@user) %></b>
          <% if current_user.present? & @user == current_user %>
            <%= link_to @store.name, edit_review_path(@store.review) %>
          <% else %>
            <%= link_to @store.name, review_path(@store.review) %>
          <% end %>
        </div>

        <div class="review-content">
          <%= @review.content %>
        </div>

        <%= image_tag @store.images.first.images[0].url %>

        <div class="rate-point">
          <p id="show-marker-avg">
            <%= image_tag "mid-star.png" %>
            <b id="average_rating"><%= @average_rating.round 1 %></b>
          </p>
          <p id="users-rating">
            <i class="fa fa-users fa-2x"></i>
            <b id="total_rater"><%= @total_rater %></b>
          </p>
        </div>

        <div class="rate-store">
          <b><%= t "rate.rate_now" %></b><br>
          <%= rating_for @store, "quality", enable_half: false, disable_after_rate: false, cancel: true,
            cancel_hint: t("rate.cancel_hint"), star: 5, remote: true %>
        </div><br>
      </div>
    </div>

    <div class="form-group">
      <%= render "comments/form" %>
    </div>

    <hr>
    <div id="comments" class="comments-block">
      <% @review.comments.each do |comment| %>
        <%= render "comments/comment", comment: comment %>
      <% end %>
    </div>
  </div>
</div>
