<div id="review-show">
  <div class="row border-show">
    <div class="review-user col-md-3">
      <%= @user.name %>
    </div>

    <div class="col-md-9">
      <div class="store-name">
        <h3>Store Name</h3>
        <%= @store.name unless @store.nil?%>
      </div>

      <div class="review-content">
        <%= @review.content %>
      </div>
    </div>

    <hr>
    <div id="comments" class="comments-block">
      <% @review.comments.each do |comment| %>
        <%= render "comments/comment", comment: comment %>
      <% end %>

      <%= render "comments/form" %>
    </div>
  </div>

</div>
