<%= javascript_include_tag 'ratyrate.js', "data-turbolinks-track" => false %>

<div id="review-show">
  <%= render "show_on_map" %>

  <div class="row border-show">
    <div class="form-group group-show-content">
      <div class="review-user col-md-1">
        <div class="review-avatar">
          <%= image_tag @user.avatar %>
        </div>
      </div>

      <div class="col-md-11">
        <div class="store-name">
          <b><%= link_to @user.name, user_path(@user) %></b>
          <% if current_user.present? & @user == current_user %>
            <%= link_to @store.name, edit_review_path(@store.review) %>
          <% else %>
            <%= link_to @store.name, review_path(@store.review) %>
          <% end %>
        </div>

        <div class="review-content">
          <%= @review.content %>
        </div>

        <div class="rate-point pull-right">
          <p>
            <%= t "rate.average_rating" %>&nbsp;
            <b id="average_rating"><%= @average_rating %></b>
          </p>
          <p>
            <%= t "rate.total_rater" %>&nbsp;
            <b id="total_rater"><%= @total_rater %></b>
          </p>
        </div>

        <div class="rate-store">
          <b><%= t "rate.rate_now" %></b><br>
          <%= rating_for @store, "quality", enable_half: false, disable_after_rate: false, cancel: true,
            cancel_hint: t("rate.cancel_hint"), star: 5, remote: true %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= render "comments/form" %>
    </div>

    <hr>
    <div id="comments" class="comments-block">
      <% @review.comments.each do |comment| %>
        <%= render "comments/comment", comment: comment %>
      <% end %>
    </div>
  </div>
</div>
